<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="FCKeditor:BasePath" value="~/FCKeditor/"/>
		<add key="FCKeditor:UserFilesPath" value="/UserFiles/Image"/>
		<add key="FCKeditor:AutoCompleteAlsoluteURL" value="1"/>
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETdb.MDF;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		<add name="LocalSqlServer1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETdb.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<roleManager enabled="true"/>
		<membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="1">
			<providers>
				<clear/>
				<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed"/>
			</providers>
		</membership>
		<profile defaultProvider="SqlProvider">
			<providers>
				<clear/>
				<add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="LocalSqlServer1"/>
			</providers>
			<properties>
				<add name="BirthYear" type="String"/>
				<add name="Sokonat" type="String"/>
				<add name="Website" type="String"/>
				<add name="ICQ" type="string"/>
				<add name="HotmailID" type="String"/>
				<add name="SkypeName" type="String"/>
				<add name="AIM" type="String"/>
				<add name="YahooID" type="String"/>
				<add name="Signature" type="String"/>
				<add name="MSN" type="String"/>
			</properties>
		</profile>
		<customErrors defaultRedirect="~/Error.aspx"/>
		<authentication mode="Forms">
			<forms loginUrl="~/AccessDenied.aspx"/>
		</authentication>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<tagMapping>
				<add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0"/>
				<add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0"/>
			</tagMapping>
			<controls>
				<add tagPrefix="Ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
				<add tagPrefix="Editor" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2"/>
				<add tagPrefix="Polls" namespace="EccSoft.Web.UI" assembly="PollControl"/>
				<add tagPrefix="Safa" namespace="Fatholahi.Compnent.Authenticate" assembly="SafaSecurity"/>
			</controls>
		</pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<!--urlMappings>
        <add url="~/EnterNewsComments.aspx" mappedUrl="~/ShowNews.aspx" />
    </urlMappings-->
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="Admin">
				<network host="mail.safa.com" password="safa" userName="safa"/>
			</smtp>
		</mailSettings>
	</system.net>
	<location path="EnterTopic.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
				<allow roles="Admin"/>
				<allow roles="Users"/>
			</authorization>
		</system.web>
	</location>
	<location path="EditPost.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
				<allow roles="Admin"/>
				<allow roles="Users"/>
			</authorization>
		</system.web>
	</location>
</configuration>
